<%- include('./ellington-new/header.ejs') %>


<section class="main-banner about-banner project-sec-inner contact-us-sec">
    <img src="/new/images/project/pj3.png"> 
    <div class="about-banner-box contact-inner-box">
        <h2>TO DISCUSS INVESTMENT OPPORTUNITIES </h2>
        <h6 class="sub-heading-inner">PLEASE CONTACT US:</h6>
        <p>Phone: +91-79875-85868</p>
        <p>Email: info@questglt.com</p>
        <p>2nd floor, 202, Atulya IT Park, IT Park Square, Bhawarkua Main Road, Indore, Madhya Pradesh, 452014</p>
        <ul class="social-links">
          <li><a href=""><img src="/new/images/social1.png"></a></li>
          <li><a href=""><img src="/new/images/social2.png"></a></li>
          <li><a href=""><img src="/new/images/social3.png"></a></li>
        </ul>
    </div>
</section>

<%- include('./ellington-new/footer.ejs') %>