<%- include('./ellington-new/header.ejs') %>

<section class="main-banner about-banner project-sec-inner">
    <img src="/new/images/project/banner-img.png"> 
    <div class="about-banner-box">
        <h2>WE BUILD RESIDENCES FOR PEOPLE WHO TRULY APPRECIATE DESIGN</h2>
        <h6 class="sub-heading-inner">FROM THE FIRST PRINCIPLES TO THE LAST DETAIL</h6>
    </div>
</section>

<section class="propert-list-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-main mb-5 text-center">Our Properties </h3>
            </div>
        </div>
        <div class="row">

            <!-- mumbai -->
            <div class="col-md-6">
                 <div class="project-img porpert-list-box">
                     <img src="/new/images/map/mumbai-map.JPG" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Mumbai </h3>
                          
                           
                           <div class="heading-box">
                                <h5><small>Size</small> A 40*30 map </h5>
                                <h5><small>Min Buying Amount</small>   25 Lakh </h5>
                                <h5><small>Price</small>   50 Lakh </h5>
                           
                                <h5><small>Qunatity Per brick</small> 1000 </h5>
                                <h5><small>Rate per brick</small>   1000 </h5>
                                <h5><small>Qunatity</small>   50 Plots</h5>
                            </div>
                            <div>
                                <a href="" class="common-btn">Buy Now</a>
                                <a href="" class="common-btn">Sell Now</a>
                                <a href="" class="common-btn">Submit Now</a>

                            </div>
                            <div>
                                <a href="" class="view-all-images-link mb-0">View Details</a>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>

            <!-- Delhi  -->
            <div class="col-md-6">
                 <div class="project-img porpert-list-box">
                     <img src="/new/images/map/Delhi-map.JPG" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Delhi</h3>
                          
                           
                           <div class="heading-box">
                                <h5><small>Size</small> A 40*30 map </h5>
                                <h5><small>Min Buying Amount</small>   25 Lakh </h5>
                                <h5><small>Price</small>   50 Lakh </h5>
                           
                                <h5><small>Qunatity Per brick</small> 1000 </h5>
                                <h5><small>Rate per brick</small>   1000 </h5>
                                <h5><small>Qunatity</small>   50 Plots</h5>
                            </div>
                            <div>
                                <a href="" class="common-btn">Buy Now</a>
                                <a href="" class="common-btn">Sell Now</a>
                                <a href="" class="common-btn">Submit Now</a>
                            </div>  
                            <div>
                                <a href="" class="view-all-images-link mb-0">View Details</a>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>

            <!-- Kolkata  -->
             <div class="col-md-6">
                 <div class="project-img porpert-list-box">
                     <img src="/new/images/map/kolkata-map.JPG" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Kolkata</h3>
                          
                           
                           <div class="heading-box">
                                <h5><small>Size</small> A 40*30 map </h5>
                                <h5><small>Min Buying Amount</small>   25 Lakh </h5>
                                <h5><small>Price</small>   50 Lakh </h5>
                            
                                <h5><small>Qunatity Per brick</small> 1000 </h5>
                                <h5><small>Rate per brick</small>   1000 </h5>
                                <h5><small>Qunatity</small>   50 Plots</h5>
                            </div>
                            <div>
                                <a href="" class="common-btn">Buy Now</a>
                                <a href="" class="common-btn">Sell Now</a>
                                <a href="" class="common-btn">Submit Now</a>
                            </div> 
                            <div>
                                <a href="" class="view-all-images-link mb-0">View Details</a>
                            </div> 
                        </div>
                     </div>
                 </div>
            </div>

            <!-- chennai -->
             <div class="col-md-6">
                 <div class="project-img porpert-list-box">
                     <img src="/new/images/map/chennai-map.JPG" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Chennai</h3>
                          
                           
                           <div class="heading-box">
                                <h5><small>Size</small> A 40*30 map </h5>
                                <h5><small>Min Buying Amount</small>   25 Lakh </h5>
                                <h5><small>Price</small>   50 Lakh </h5>
                           
                                <h5><small>Qunatity Per brick</small> 1000 </h5>
                                <h5><small>Rate per brick</small>   1000 </h5>
                                <h5><small>Qunatity</small>   50 Plots</h5>
                            </div>
                            <div>
                                <a href="" class="common-btn">Buy Now</a>
                                <a href="" class="common-btn">Sell Now</a>
                                <a href="" class="common-btn">Submit Now</a>
                            </div>  
                            <div>
                                <a href="" class="view-all-images-link mb-0">View Details</a>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>

<%- include('./ellington-new/footer.ejs') %>