<%- include('./ellington-new/header.ejs') %>

<section class="main-banner about-banner project-sec-inner">
    <img src="/new/images/project/banner-img.png"> 
    <div class="about-banner-box">
        <h2>WE BUILD RESIDENCES FOR PEOPLE WHO TRULY APPRECIATE DESIGN</h2>
        <h6 class="sub-heading-inner">FROM THE FIRST PRINCIPLES TO THE LAST DETAIL</h6>
    </div>
</section>

<section class="propert-list-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-main mb-5 text-center">Our Properties </h3>
            </div>
        </div>
        <div class="row">

            <!-- mumbai -->
            <div class="col-md-6">
                 <div class="project-img porpert-list-box">
                     <img src="/new/images/map/mumbai-map.JPG" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Mumbai </h3>
                          
                           
                           <div class="heading-box">
                                <h5><small>Size</small> A 30*50 map </h5>
                                <h5><small>Min Buying Amount</small>   10 Lakh </h5>
                                <h5><small>Price</small>   20 Lakh </h5>
                           
                                <h5><small>Qunatity Per brick</small> 1000 </h5>
                                <h5><small>Rate per brick</small>   1000 </h5>
                                <h5><small>Qunatity</small>   50 Plots</h5>
                            </div>
                            <div>
                                <a href="" class="common-btn">Buy Now</a>
                                <a href="" class="common-btn">Sell Now</a>
                                <a  data-toggle="modal" data-target="#exampleModal" href="#" class="common-btn">Submit Now</a>

                            </div>
                            <div>
                                <a href="" class="view-all-images-link mb-0">View Details</a>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>

            <!-- Delhi  -->
            <div class="col-md-6">
                 <div class="project-img porpert-list-box">
                     <img src="/new/images/map/Delhi-map.JPG" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Delhi</h3>
                          
                           
                           <div class="heading-box">
                                <h5><small>Size</small> A 40*30 map </h5>
                                <h5><small>Min Buying Amount</small>   25 Lakh </h5>
                                <h5><small>Price</small>   50 Lakh </h5>
                           
                                <h5><small>Qunatity Per brick</small> 2000 </h5>
                                <h5><small>Rate per brick</small>   2000 </h5>
                                <h5><small>Qunatity</small>   45 Plots</h5>
                            </div>
                            <div>
                                <a href="" class="common-btn">Buy Now</a>
                                <a href="" class="common-btn">Sell Now</a>
                                <a  data-toggle="modal" data-target="#exampleModal" href="#" class="common-btn">Submit Now</a>
                            </div>  
                            <div>
                                <a href="" class="view-all-images-link mb-0">View Details</a>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>

            <!-- Kolkata  -->
             <div class="col-md-6">
                 <div class="project-img porpert-list-box">
                     <img src="/new/images/map/kolkata-map.JPG" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Kolkata</h3>
                          
                           
                           <div class="heading-box">
                                <h5><small>Size</small> A 30*90 map </h5>
                                <h5><small>Min Buying Amount</small>   25 Lakh </h5>
                                <h5><small>Price</small>   90 Lakh </h5>
                            
                                <h5><small>Qunatity Per brick</small> 3000 </h5>
                                <h5><small>Rate per brick</small>   3000 </h5>
                                <h5><small>Qunatity</small>   90 Plots</h5>
                            </div>
                            <div>
                                <a href="" class="common-btn">Buy Now</a>
                                <a href="" class="common-btn">Sell Now</a>
                                <a data-toggle="modal" data-target="#exampleModal" href="#" class="common-btn">Submit Now</a>
                            </div> 
                            <div>
                                <a href="" class="view-all-images-link mb-0">View Details</a>
                            </div> 
                        </div>
                     </div>
                 </div>
            </div>

            <!-- chennai -->
             <div class="col-md-6">
                 <div class="project-img porpert-list-box">
                     <img src="/new/images/map/chennai-map.JPG" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Chennai</h3>
                          
                           
                           <div class="heading-box">
                                <h5><small>Size</small> A 60*40 map </h5>
                                <h5><small>Min Buying Amount</small>   55 Lakh </h5>
                                <h5><small>Price</small>   70 Lakh </h5>
                           
                                <h5><small>Qunatity Per brick</small> 8000 </h5>
                                <h5><small>Rate per brick</small>   8000 </h5>
                                <h5><small>Qunatity</small>   80 Plots</h5>
                            </div>
                            <div>
                                <a href="" class="common-btn">Buy Now</a>
                                <a href="" class="common-btn">Sell Now</a>
                                <a data-toggle="modal" data-target="#exampleModal" href="#" class="common-btn">Submit Now</a>
                            </div>  
                            <div>
                                <a href="" class="view-all-images-link mb-0">View Details</a>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <section class="main-banner project-sec-inner add-prop-sec ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 m-auto">
                            <div class="add-property-box">
                                <div class="w-100">
                                    <div class="row">
                                    <div class="col-md-6">
                                       <div class="form-group">
                                        <label>Land Tittle</label>
                                        <input type="text" class="form-control" placeholder="Enter Land Tittle">
                                      </div> 
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Land Image</label>
                                        <input type="file" class="form-control" placeholder="Enter Land Tittle">
                                      </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label>Land Size</label>
                                        <input type="text" class="form-control" placeholder="Land Size height*width Sq Ft">
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label>MIN BUYING AMOUNT</label>
                                        <input type="text" class="form-control" placeholder="MIN BUYING AMOUNT">
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label>PRICE</label>
                                        <input type="text" class="form-control" placeholder="PRICE">
                                      </div>
                                    </div>
                                    
                                   
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label>QUNATITY PER BRICK</label>
                                        <input type="text" class="form-control" placeholder="Enter Quantity">
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label>RATE PER BRICK</label>
                                        <input type="text" class="form-control" placeholder="Enter Rate">
                                      </div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                        <label>QUNATITY(No of Plots)</label>
                                        <input type="text" class="form-control" placeholder="Enter Quantity(No of Plots)">
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control" aria-label="Enter City" placeholder="Enter City">
                                            <option selected>Enter City</option>
                                            <option value="Mumbai">Mumbai</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Kolkata">Kolkata</option>
                                            <option value="Chennai">Chennai</option>
                                          </select>
                                      </div>
                                    </div>
                                   
                                </div>
                                <div>
                                    <button class="common-btn submit-data">Submit</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
     $('.submit-data').click(function(){
        //swal("Submited Successfully.");
        swal("Submited Successfully.")
.then((value) => {
  if(value){
    window.location.href = "/property";
  }
  
});
     })
 </script>
<%- include('./ellington-new/footer.ejs') %>