<%- include('./ellington-new/header.ejs') %>
<section class="propert-list-sec pt-0 property-details-sec">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12">
                 <div class="project-img porpert-list-box">
                     <img src="new/images/project/pj1.png" class="img-fluid"> 
                     <div class="porperty-list-content">
                        <div class="inner-property">
                             <h6 class="sub-heading-inner gray-color">NATURE AT YOUR DOORSTEP</h6>
                            <h3 class="heading-main">Wilton park residences </h3>
                          
                            <p>The ideal residential getaway for those who love nature, value tranquility and privacy, yet desire to be within close distance to many of Dubai’s world-class attractions, landmarks and transport links. Offering a true urban oasis in the heart of Dubai The ideal residential getaway for those who love nature, value tranquility and privacy, yet desire to be within close distance to many of Dubai’s world-class attractions, landmarks and transport links. Offering a true urban oasis in the...</p>
                           <div class="heading-box">
                                <h5><small>Size</small> A 40*30 map </h5>
                                <h5><small>Min Buying Amount</small>   25 Lakh </h5>
                                <h5><small>Price</small>   50 Lakh </h5>
                            
                                <h5><small>Qunatity Per brick</small> 1000 </h5>
                                <h5><small>Rate per brick</small>   1000 </h5>
                                <h5><small>Qunatity</small>   50 Plots</h5>
                            </div>
                            <div>
                                <a href="javascript:void(0)" value="6269482ba9f7a40fa543f62f" class="buyNow common-btn">Buy Now</a>


                            </div>  
                            <div>
                                <a href="" class="view-all-images-link">View All Images</a>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
     <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                   <div class="project-img porpert-list-box mb-3">
                     <img src="new/images/project/pj1.png" class="img-fluid"> 
                 </div>
            </div>
            <div class="col-md-6">
                   <div class="project-img porpert-list-box mb-3">
                     <img src="new/images/project/pj2.png" class="img-fluid"> 
                 </div>
            </div>
            <div class="col-md-6">
                   <div class="project-img porpert-list-box mb-3">
                     <img src="new/images/project/pj3.png" class="img-fluid"> 
                 </div>
            </div>
            <div class="col-md-6">
                   <div class="project-img porpert-list-box mb-3">
                     <img src="new/images/project/pj1.png" class="img-fluid"> 
                 </div>
            </div>
        </div>
    </div>
</section>
<%- include('./ellington-new/footer.ejs') %>

